.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 0 max(48px, calc((100% - 1184px) / 2));
}

@media (min-width: 769px) and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin: 0 min(48px, max(24px, calc((100% - 768px) / 2)));
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0 min(24px, max(16px, calc((100% - 320px) / 2)));
  }
}

@media (max-width: 425px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 12px;
    margin: 0 min(24px, max(16px, calc((100% - 320px) / 2)));
  }
}
