.page__header {
  margin: 0 max(48px, calc((100% - 1184px) / 2));
  padding: 28px 0 0;
}

@media (max-width: 984px) {
  .page__header {
    margin: 0 min(48px, max(24px, calc((100% - 768px) / 2)));
  }
}

@media (max-width: 425px) {
  .page__header {
    margin: 0 min(24px, max(16px, calc((100% - 320px) / 2)));
    padding: 16px 0 0;
  }
}
