.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 690px) {
  .footer__menu {
    max-width: calc(100% - 32px);
    flex-direction: column;
    margin: 0 0 48px;
  }
}
