.content {
  max-width: 100%;
  display: grid;
  gap: 92px 0;
  padding: 56px 0 92px;
}

@media (max-width: 1024px) {
  .content {
    padding: 48px 0 92px;
  }
}

@media (max-width: 768px) {
  .content {
    gap: 88px 0;
    padding: 48px 0 88px;
  }
}

@media (max-width: 425px) {
  .content {
    gap: 64px 0;
    padding: 48px 0 64px;
  }
}
